<main class="center" id="main">

  <section class="page-area">
    <pb-article>
      <h1 slot="header">Stay on track</h1>
      <div slot="body">
        Do you know where you are spending your money? If you really stop to track it down,
        you would get surprised! Proper budget management depends on real data... and this
        app will help you with that!
      </div>

    </pb-article>

    <pb-article>
      <h1 slot="header">Alerts</h1>
      <div slot="body">
        What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
      </div>
    </pb-article>

    <pb-article>
      <h1 slot="header">Results</h1>
      <div slot="body">
        People who stick to a financial plan, budgeting every expense, get out of debt faster!
        Also, they to live happier lives... since they expend without guilt or fear...
        because they know it is all good and accounted for.
      </div>
    </pb-article>

    <pb-article>
      <h1 slot="header">Free</h1>
      <div slot="body">
        This app is free!!! And you are the only one holding your data!
      </div>
    </pb-article>

    <pb-article>
      <h1 slot="header">Stay on track</h1>
      <div slot="body">
        Do you know where you are spending your money? If you really stop to track it down,
        you would get surprised! Proper budget management depends on real data... and this
        app will help you with that!
      </div>
    </pb-article>

    <pb-article>
      <h1 slot="header">Alerts</h1>
      <div slot="body">
        What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
      </div>
    </pb-article>

    <pb-article>
      <h1 slot="header">Understanding the chart</h1>
      <div slot="body">
        This section provides you better understanding of what your financial numbers look like.
      </div>
    </pb-article>

    <article>
      <h1 slot="header">Budget view using Chart.js</h1>
      <p>
        <canvas id="myChart" width="400" height="400" alt=""></canvas>
      </p>
    </article>


    <section>
      <pb-article>
        <h1 slot="header">Budget view using D3.js</h1>
      </pb-article>
    </section>

  </section>

</main>
<div id="d3Chart"></div>
